.text-shadow{
    text-shadow: 6px 6px 6px  black;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.btn-small {
    margin: 5px;
}

.card-name {
    padding-top: 10px;
}


#description{
    padding: 5px 10px;
    height: 78px;
}


.pt-3-half {
padding-top: 1.4rem;
}

.img-thumbnail {
	width: 300px;
    height: 300px;
}

.profile_details {
    margin-top: 20px;
    display: block;
}

.background_image{
    background: url("../images/background_1.jpeg") no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

.row{
    display: block;
}


.card {
	display: flex;
	background-color: beige;
	margin-bottom: 40px;
	outline-width: 7px;
	outline-color: #7690ad;
    outline-style: solid;
    width: 95%;
}


.card-block {
	margin-bottom: 20px;
	text-align: center;
}

.justify-content-around {
	justify-content: space-around;
}

.profile_title{
    font-family: 'Dancing Script', cursive;
    color: orange;
}

.profile_name{
    font-family: 'Dancing Script', cursive;
    color: orange;
}

@media (min-width:1000px){
.view {
    width: 75%;
    margin-top: 4%;}
.recipe_form {
    width: 75%;
}
.flash_messages{
 width: 50%;
}
}