{% extends "base.html" %}
{% block content %}
<div class="container-fluid recipe_form">
   <div class="row card-pannel deep-orange lighten-5">
      <h3 class="center-align">Add recipe</h3>
      <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
         <div class="row">
            <div class="input-field col l10 s12">
               <i class="fas fa-utensils prefix"></i>
               <textarea id="recipe_name" name="recipe_name" minlength="2" maxlength="50" pattern="^[a-zA-Z]{2,50}$"
                  class="materialize-textarea validate" required></textarea>
               <label for="recipe_name">Name</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col l6 s12">
               <i class="fas fa-clipboard-list prefix"></i>
               <select id="category_name" name="category_name" class="validate" required>
                  <option value="" disabled selected>Category</option>
                  {% for category in categories %}
                  <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}
               </select>
               <label for="category_name">Select</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col l10 s12">
               <i class="fas fa-info prefix"></i>
               <textarea id="recipe_description" name="recipe_description" class="materialize-textarea validate"
                  minlength="20" maxlength="200" pattern="^[a-zA-Z0-9:,]{20,200}$" required></textarea>
               <label for="recipe_description">Description</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col l10 s12">
               <i class="fas fa-blender prefix"></i>
               <textarea id="recipe_preparation" name="recipe_preparation" class="materialize-textarea validate"
                  minlength="200" maxlength="1000" pattern="^[a-zA-Z0-9:,]{200,400}$" required></textarea>
               <label for="recipe_preparation">Preparation</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col l2 s6">
               <i class="fas fa-clock prefix"></i>
               <textarea id="preparation_time" name="preparation_time" class="materialize-textarea validate"
                  minlength="2" maxlength="17" pattern="^[a-zA-Z0-9:,]{2,17}$" required></textarea>
               <label for="preparation_time">Prep Time</label>
            </div>
            <div class="input-field col l2 s6">
               <i class="fas fa-stopwatch prefix"></i>
               <textarea id="cooking_time" name="cooking_time" class="materialize-textarea validate" minlength="2"
                  maxlength="17" pattern="^[a-zA-Z0-9:,]{2,17}$" required></textarea>
               <label for="cooking_time">Cooking</label>
            </div>
         </div>
         <div class="input-field col l10 s12">
            <i class="fas fa-clipboard-list prefix"></i>
            <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea validate"
               minlength="200" maxlength="1000" pattern="^[a-zA-Z0-9:,]{200,400}$" required></textarea>
            <label for="recipe_Ingredients">Ingredients</label>
         </div>
         <div class="container">
            <div class="row">
               <div class="col s12 center-align">
                  <button type="submit" class="btn-large">
                  Add Recipe
                  </button>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
{% endblock %}