<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link
         rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
         type="text/css"
         />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
         integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
         crossorigin="anonymous" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
         type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
      {% block styles %}
      {% endblock %}
      <title>The Taste</title>
   </head>
   <body class="background_image">
      <header>
         <!-- nav bar -->
         <nav class="nav-extended text-shadow #ffa726 orange lighten-1">
            <div class="nav-wrapper">
               <a href="{{ url_for('get_recipes') }}" class="brand-logo">The Taste</a>
               <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-ellipsis-h"></i></a>
               <ul class="right hide-on-med-and-down">
                  <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                  {% if session.user %}
                  <li><a href="{{ url_for('get_my_recipes') }}">Profile</a></li>
                  <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                  {% else %}
                  <li><a href="{{ url_for('login') }}">Log In</a></li>
                  <li><a href="{{ url_for('register') }}">Register</a></li>
                  {% endif %}
               </ul>
            </div>
         </nav>
         <!-- mobile navbar -->
         <ul class="sidenav" id="mobile-demo">
            <li>
               <h3 class="center-align text-darken-5"></h3>
            </li>
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('get_my_recipes') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
         </ul>
      </header>
      <section>
         <!-- flash messages -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="flash_messages row flashes #ffccbc deep-orange lighten-4">
            <h4 class="center-align">{{ message }}</h4>
         </div>
         {% endfor %}
         {% endif %}
     