{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Edit recipe</h3>
<div class="row card-pannel deep-orange lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id)}}">
        <div class="row">
            <div class="input-field col l10 s12">
                <i class="fas fa-utensils prefix"></i>
                <textarea id="recipe_name" name="recipe_name" minlength="2" maxlength="50" pattern="^[a-zA-Z]{2,50}$"
                    class="materialize-textarea validate" required>
                    {{- recipe.recipe_name -}}
                </textarea>
                <label for="recipe_name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 s12">
                <i class="fas fa-clipboard-list prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Category</option>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Select</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col l10 s12">
                <i class="fas fa-info prefix"></i>
                <textarea id="recipe_description" name="recipe_description" class="materialize-textarea validate"
                    minlength="200" maxlength="400" pattern="^[a-zA-Z0-9:,]{200,400}$" required>
                    {{- recipe.recipe_description -}}
                </textarea>
                <label for="recipe_description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l10 s12">
                <i class="fas fa-blender prefix"></i>
                <textarea id="recipe_preparation" name="recipe_preparation" class="materialize-textarea validate"
                    minlength="200" maxlength="400" pattern="^[a-zA-Z0-9:,]{200,400}$" required>
                    {{- recipe.preparation -}}
                    </textarea>
                <label for="recipe_preparation">Preparation</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l2 s6">
                <i class="far fa-clock prefix"></i>
                <textarea id="preparation_time" name="preparation_time" class="materialize-textarea validate"
                    minlength="2" maxlength="17" pattern="^[a-zA-Z0-9:,]{2,17}$" required>
                    {{- recipe.preparation_time -}}
                </textarea>
                <label for="preparation_time">Prep Time</label>
            </div>
            <div class="input-field col l2 s6">
                <i class="fas fa-stopwatch prefix"></i>
                <textarea id="cooking_time" name="cooking_time" class="materialize-textarea validate" minlength="2"
                    maxlength="17" pattern="^[a-zA-Z0-9:,]{2,17}$" required>
                    {{- recipe.cooking_time -}}
                </textarea>
                <label for="cooking">Cooking</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col l6 s12">
                <i class="fas fa-exclamation-triangle prefix"></i>
                <select multiple id="allergen_name" name="allergen_name" class="validate" required>
                    <option value="" disabled>Allergens</option>
                    {% for allergen in allergens %}
                    {% if allergen.allergen_name == recipe.allergens %}
                    <option value="{{ allergen.allergen_name }}" selected>{{ allergen.allergen_name }}</option>
                    {% else %}
                    <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="allergen_name">Select</label>
            </div>
        </div>
        <div class="container">

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for ingredient in ingredients %}
                    <tr>
                        <td><strong>{{ ingredient.ingredient_name }}</strong>
                        </td>
                        <td>
                            <p>{{ ingredient.ingredient_quantity }}</p>
                        <td>
                            <div class="row center-align">
                                <a href="{{ url_for('edit_ingredient', ingredient_id=ingredient._id)}}"
                                    class="btn-small">Edit</a>
                            </div>
                        </td>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <!-- cancell button -->
                <a href="{{ url_for('get_recipes') }}" class="btn-large">
                    Done <i class="far fa-times-circle"></i>
                </a>
                <!-- Submit button -->
                <button type="submit" class="btn-large">
                    Edit Recipe <i class="fas fa-edit" prefix></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}