{% extends "base.html" %}
{% block content %}
<div class="row profile_details">
    <div class="col s12 m12">
        <div class="card-panel">
            <h5 class="center-align">
                {{ session.user }}'s Profile
            </h5>
        </div>
    </div>
</div>
<div class="row profile_details">
    <div class="col s12 md6 l6 xl6">
        <img src="../static/images/user_photo.jpeg" class="img-thumbnail" alt="users profile picture">
    </div>
    <div class="col s12 m6 l6 xl6">
        <div class="card-panel">
            <h6 class="center-align">
                Your recipes
            </h6>
            <i class="fas fa-folder-open center-align">View</i>
        </div>
    </div>
     <div class="col s12 m6 l6 xl6">
            <div class="card-panel">
                <h6 class="center-align">
                    Rating
                </h6>
            </div>
        </div>
</div>
<div class="row">
    {% for recipe in my_recipes %}
    <div class="col s12 m12 l6">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-name center-align"><strong>{{- recipe.recipe_name -}}</strong></h6>
                    <p id="description" class="text-break center-align">{{- recipe.recipe_description -}}</p>
                </div>
                <div class="card-body">
                    <div class="col l6 s6 card-content">
                        <i class="far fa-clock prefix">
                            <p>{{- recipe.preparation_time}}</p>
                        </i>
                    </div>
                    <div class="col l6 s6 card-content">
                        <i class="fas fa-stopwatch prefix">
                            <p>{{- recipe.cooking_time}}</p>
                        </i>
                    </div>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-exclamation-triangle" prefix></i> Allergens
                            </div>
                            <div class="collapsible-body"><span>
                                    {% for allergen in allergens %}
                                    {{ allergen.allergen_name}}
                                    {% endfor %}
                                </span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="fas fa-clipboard-list" prefix></i> Igredients
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal1"> View</a>
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4>Ingredients</h4>
                                    <div>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Quantity</th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for ingredient in ingredients %}
                                                <tr>
                                                    <td><strong>{{ ingredient.ingredient_name }}</strong>
                                                    </td>
                                                    <td>
                                                        <p>{{ ingredient.ingredient_quantity }}</p>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="fas fa-blender"></i> Preparation
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal2"> View</a>
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal2" class="modal">
                                <div class="modal-content">
                                    <div class="card-panel teal">
                                    <h4 class="white-text">Preparation</h4>
                                    <span class="white-text">
                                        <h6 class="card-name center-align"><strong>{{- recipe.recipe_name -}}</strong>
                                        </h6>
                                        <p id="preparation" class="text-break center-align">
                                            {{- recipe.preparation -}}</p>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-action center-align">
                    {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}