{% extends "base.html" %}
{% block content %}
    
  <div class="row">
      {% for recipe in recipes %}
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
        </div>
        <div class="card-content">
          <strong>{{ recipe.recipe_name }}</strong>
          <p>{{ recipe.recipe_description }}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}