{% extends "base.html" %}
{% block content %}
<div class="container-fluid view">
    <div class="row">
        <div class="col s3">

        </div>
    </div>
    <div class="card #ffe0b2 orange lighten-4">
        <div class="card-block">
            <h3><i class="fas fa-blender prefix"> Preparation</i></h3>
            <h6><p id="preparation" class="text-break center-align">
                {{- recipe.preparation -}}
            </p>
            </h6>
        </div>
        <div>
            <div class="card-block">
            <h5><i class="fas fa-clipboard-list prefix"> Ingredients</i></h5>
            <div class="card-body">
                    <div class="col l6 s6 card-content">
                        <i class="far fa-clock prefix">
                            <li><h5>{{- recipe.ingredient -}}</h5></li>
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action center-align">
                    <a class="waves-effect waves-light btn modal-trigger #ff9e80 deep-orange accent-1" href="{{ url_for('get_recipes' )}}">Done</a>
                    {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small #ff9e80 deep-orange accent-1">Edit</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small #ff9e80 deep-orange accent-1">Delete</a>
                    {% endif %}
                </div>
    </div>
    
</div>
{% endblock %}